.full-package {
    position: relative;
}
.full-package-title {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    color: #353137;
    margin-bottom: 45px;
}
.full-package-lists {
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -moz-justify-content: space-around;
    justify-content: space-around;
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    list-style: none
}
.full-package-lists.full-package-lists__three .package-item .package-item__top {
    text-align: center;
}
.full-package-lists.full-package-lists__three .package-item .package-item__bottom {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.25;
    min-height: 86px;
    text-align: center;
    justify-content: center;
}
.full-package-lists.full-package-lists__three .package-item .package-item__bottom span {
    font-weight: 700;
}
.package-item {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    flex: 1 1 auto;
    border-radius: 10px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 2px 24px 0 #aec1ce;
    box-shadow: 0 2px 24px 0 #aec1ce;
    margin: 0 30px 42px;
}
.package-item__title {
    font-weight: 700;
    color: #0f4061;
    font-size: 18px;
}
.package-item__desc {
    font-weight: 300;
}
.package-item__top {
    padding: 30px 30px 0;
    text-align: left;
}
.package-item__link {
    margin: 22px 0;
    text-align: center;
    text-transform: none;
    text-decoration: none;
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    color: #4a90e2;
}
.package-item__bottom {
    display: flex;
    height: 60px;
    padding: 0px 30px 0;
    border-radius: 0 0 10px 10px;
    text-align: left;
    width: 100%;
    text-transform: uppercase;
    align-items: center;
    border: none;
    font-weight: 600;
    font-size: 20px;
    background-image: linear-gradient(48deg, #0f4061, #1a8e9b 57%, #23c8c6);
    color: #fff;
}
.package-item__bottom span {
    color: #2bd9a2;
    margin-left: 6px;
}

@media screen and (max-width: 800px) {
    .package-item {
        margin: 0 10px 42px;
    }
}
@media screen and (max-width: 700px) {
    .full-package-lists {
        flex-wrap: wrap;
    }
}